<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Chat App</title>

</head>
<body>
<h1>Flask-SocketIO Chat App!</h1>
<form onsubmit="return false">
    <input type="text" id="username" placeholder="User Name"/>
    <input type="text" id="message" placeholder="Messages"/>
    <input type="submit" onclick="user_response()"/>
</form>
<textarea id="chat" name="ChatApp" rows="4" cols="50" placeholder="Chat Appears Here!!!" readonly>
</textarea>
</body>
</html>